
  <!-- Sidebar navigation -->
  <div class="container-fluid">
    <div class="row position-relative h-100 w-100">
  
      <nav class="col-2 bg-dark pos-fixed">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active">
                <i class="fas fa-user"></i>User Profile
              </a>
            </li>
            <!-- Calling SignOut() Api from AuthService -->
            <li class="nav-item">
              <a class="nav-link" (click)="authService.SignOut()">
                <i class="fas fa-sign-out-alt"></i>Log out
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">
  
          <!-- Show user data when logged in -->
          <div class="row" *ngIf="authService.currentUser as user">
            <div class="col-md-12">
              <div *ngIf="user.tourist">
                <app-tourist-home-page></app-tourist-home-page>
              </div>
              <div *ngIf="user.guide">
                <app-guide-home-page></app-guide-home-page>
              </div>
            </div>
          </div>
  
        </div>
      </main>
  
    </div>
  </div>