.home-page-wrapper {
    display: flex;
    flex-direction: column;

}
h5 {
    margin: 2px;
}
.top-wrapper {
    display: flex;
    justify-content: space-between;
}
.welcome-msg { 
    font-size: 20px;
    font-style: bold;
    padding-top: 1%;
}

.body-wrapper {
    display: flex;
    justify-content: space-between;
}
.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: calc(100vh - 185px);
    overflow: auto;
    align-self: flex-end;
    border: 1px solid rgb(5, 38, 184);
    border-radius: 10px;
}
.loading-cards-wrapper {
   margin: auto;
}
.img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    padding-top: 10px;
}
#userImage {
    border-radius:100px;
    height: 200px;
    width: 200px;
}
.find-match-btn {
    padding-top: 5px;
}

.card {
    max-width: 33%;
    max-height: 50%;
    display: flex;
    flex-direction: column;
}
.card-img {
    height: 40%;
    width: 60%;
    align-self: center;
}
.card-body {
    width: 100%;
    font-size: 14px;
}
#guide-profile-btn {
    align-self: center;
    font-size: 12px;
}


.find-match-btn {
    align-self: center;
}
.star {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #d3d3d3;
}
.full {
    color: #FFC107;
}
.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #FFC107;
}