.form-control{
    margin-top: 10px;
    margin-bottom: 10px;
}
#signup-btn{
    margin-bottom: 10px;
    padding: 5px;
    height: 40px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
}

#uploadBtn {
    justify-content: center;
    background-color: whitesmoke;
}

#ageDropdown{
    overflow-y: scroll;
}

.custom-control-label{
    padding: 2px;
    margin-right: 40px;
    margin-inline-start: auto;
}
.custom-control-input{
    padding: 3px;
}

::ng-deep .ng-dropdown-panel {
    background: white;
}

.ng-value-icon {
    border: 1px solid darkblue;
    background: rgba(77, 102, 243, 0.767);
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}

.ng-value-label {
    border: 1px solid darkblue;
    background: rgba(77, 102, 243, 0.767);
    padding-left: 5px;
    padding-right: 5px;
}

.radio-wrapper {
    display: flex;

}

.radio-input {
    margin-right: 10px;
}