.jumbotron{
    background-size: cover;
    border-radius: 0;
    padding: 0;
    margin-bottom: 0;
    height: 80px;
    background-size: 100% 100px;
    background-image: url('../../../assets/beach.jfif');
}
.jumbotron h1{
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.2;
    color:  rgb(28 45 127 / 86%);
    align-self: center;
    padding: 0;
    
}
.center{
    text-align: center;
}