.form-control{
    margin-top: 10px;
}

#signin-btn{
    margin-bottom: 10px;
    padding: 5px;
    height: 40px;
    
}
#forgot-pwd{
    color: lightcoral;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: left;
    
}

.form-wrapper { 
    height: calc(100vh - 80px);
}

h1 {
    margin-top: 10px;
}