/* You can add global styles to this file, and also import other style files */
.row {
    height: calc(100vh - 80px);
}
app-nav-bar-tourist {
    height: 100%;
}
html { height: 100%; }
body { 
    height: 100%;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url('./assets/photo-1584531979583-18c5c4b25efc.jfif');
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";