<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <app-nav-bar-tourist
      (gotoEditEvent)="gotoEditProfile()">
    </app-nav-bar-tourist>
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <!-- Show user data when logged in -->
        <div class="row">
          <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center"
            style="width: 100%; height: 100%;">
            <mat-progress-spinner mode="indeterminate">
            </mat-progress-spinner>
          </div>
          <div class="col-md-12">
            <app-tourist-home-page *ngIf="(!isLoading && !isLoadingGuides)" [user]="user" [uid]="uid"
              [photoURL]="photoURL" [guidesArray]="guidesArray" [guidesPhotos]="guidesPhotos"
              (gotoEditProfileEvent)="gotoEditProfile()"></app-tourist-home-page>
          </div>
        </div>

      </div>
    </main>

  </div>
</div>